<mat-nav-list class="example-sidenav"
[ngStyle]="{ 'width': sideNavWidth }">

  <div class="flex-container">
    <h3 matSubheader>Search Criteria</h3>
    <i class="material-icons"><mat-icon>keyboard_arrow_left</mat-icon></i>
  </div>
  <a mat-list-item class="customHeader">
    <span>Search Criteria</span><mat-icon class="custom-icon-spacer">keyboard_arrow_left</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>person</mat-icon> <span class="icon-spacer">Contact Search</span>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>business</mat-icon> <span class="icon-spacer">Company Search </span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>format_list_bulleted</mat-icon> <span class="icon-spacer">My Lists</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>search</mat-icon> <span class="icon-spacer">Lookup</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>check_circle</mat-icon> <span class="icon-spacer">Verify</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>receipt</mat-icon> <span class="icon-spacer">Enrich</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>mic</mat-icon> <span class="icon-spacer">Events</span>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" >
    <mat-icon>folder_special</mat-icon> <span class="icon-spacer">Resources</span>
  </a>


</mat-nav-list>



