:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

mat-drawer {
  width: 210px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 0;
}

mat-drawer-inner-container {
  overflow: hidden;
}
